html {
   box-sizing: border-box;
}
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
input,
textarea {
   outline: none;
}
img {
   width: 100%;
   height: auto;
   display: block;
}
button {
   cursor: pointer;
   border: none;
}
