.hero__title {
   @include font-size-height(44px, 1.36);
   font-weight: 900;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-color);
   margin: auto;
   width: 696px;
   height: 120px;
}

.hero {
   background-color: var(--header-footer-background-color);
   text-align: center;
   padding: 200px 0;
   background-image: linear-gradient(
         to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url(../img/backgroung-img.jpg);
   max-width: 1600px;
   min-height: 600px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0 auto;
}
