.projects-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}

.projects-list-item {
   margin: 15px;
   flex-basis: calc(100% / 3 - 30px);
}
.description-projects {
   border: 1px solid #eeeeee;
   border-top: none;
}
.projects-list-link {
   position: relative;
   display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
}

.projects-thumb {
   position: relative;
   overflow: hidden;
}
.description-projects {
   padding: 20px 24px;
}
.description-projects-title {
   font-weight: 700;
   @include font-size-height(18px, 2);
   letter-spacing: 0.06em;
   margin-bottom: 4px;
   color: var(--primary-color);
}
.description-projects-subtitle {
   @include font-size-height(16px, 1.88);
   color: var(--secondary-color);
}
.no-gap {
   display: block;
}
