.logo {
   font-family: var(--secondary-font-title);
   font-weight: 700;
   @include font-size-height(26px, 1.19);
   letter-spacing: 0.03em;
   color: #2196f3;
   margin-right: 93px;
}
.logo__title {
   color: var(--primary-color);
}
.logo-footer {
   display: block;
}
.logo-footer__title {
   color: var(--white-color);
}
