.overlay {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   padding: 63px 24px;

   opacity: 0;
   @include font-size-height(18px, 1.56);
   color: var(--white-color);
   background-color: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .projects-list-link:hover &,
   .projects-list-link:focus & {
      transform: translateY(0);
      opacity: 1;
   }
}
