:root {
   --primary-color: #212121;
   --secondary-color: #757575;
   --white-color: #ffffff;
   --accent-color: #2196f3;
   --secondary-font-title: 'Raleway', sans-serif;
   --primary-font-title: 'Roboto', sans-serif;
   --secondary-background-color: #f5f4fa;
   --header-footer-background-color: #2f303a;
   --fill-icon-color: #afb1b8;
}
